<div class='page-outer shack'>&nbsp;</div>

<div class='blog header'>
  <img src='/img/mic.jpg' class='inline circle bordered right' />
  <h1>Hello!</h1>
  <p>My name is <a href='/'>Jonny Arnold</a>, and this is my <a href='/blog'>blog</a>.</p>
</div>

<div class='blog page'>
  <h2>My Posts</h2>

  <ul>
    <% @recent_posts.each do |post| %>
      <li>
        <%= post.publish_date.strftime('%d %b %Y') %>: 
        <a href='<%= post.url %>'><b><%= post.title %></b></a> 
        <ul class='tags'>
          <% post.tags.each do |tag| %>
            <li><%= tag.to_s %></li>
          <% end %>          
        </ul>
      </li>
    <% end %>
  </ul>
</div>
