<div class='page-outer shack'>&nbsp;</div>

<div class='blog header'>
  <img src='/img/lakes.jpg' class='inline circle bordered right' />
  <h1>Hello!</h1>
  <p>My name is <a href='/'>Jonny Arnold</a>, and this is my <a href='/blog'>blog</a>.</p>
</div>

<div class='blog page'>
  <%= blog_html %>
</div>
