<div class='page-outer germany'>&nbsp;</div>

<div class='blog header'>
  <img src='/img/lakes.jpg' class='inline circle bordered right' />
  <h1>Hello!</h1>
  <p>My name is <a href='/'>Jonny Arnold</a>, and this is my <a href='/blog'>blog</a>.</p>
</div>

<div class='blog page'>
  <h2>Recent Posts</h2>

  <ul>
    <% @recent_posts.each do |post| %>
      <li>
        <a href='<%= post.url %>'><%= post.title %></a> 
        <ul class='tags'>
          <% post.tags.each do |tag| %>
            <li><%= tag.to_s %></li>
          <% end %>          
        </ul>
      </li>
    <% end %>
  </ul>
</div>
