<div class='page-outer sun'>&nbsp;</div>

<div class='page'>

  <div class='header-bullet'>
    <img src='/img/cocky.jpg' width='200' height='200' class='bordered' />
    <h1>Hello.<br />
    My name is Jonny Arnold.</h1>

    <p><b>I am a software engineer.</b> By day I even get paid for it. I spend the majority of my time making cool stuff with computers, talking about software or playing computer games. It's safe to say <b>I'm a geek.</b> But hey, that's cool now. Right?</p>

    <!--<p>Currently I'm looking for <b>full-stack web development roles in London, Hertfordshire or Buckinghamshire.</b> If you have one then please get in touch!</p>-->

  </div>

  <h2>Why Me?</h2>

  <div class='bullet'>
    <img src='/img/spectrum.png' width='100' height='100' class='left bordered' />
    <p><b>I am a generalist.</b> Hand me a problem and I will use the <i>most appropriate</i> tools to solve it, rather than bending my favourite tools to fit it. I've completed projects in several programming languages (C#, Python, Ruby, JavaScript, PHP, MatLab/Octave) and dabbled in a few more (Scala, Go) to make sure that when I get given a problem I know the language that will solve it best.</p>
  </div>

  <div class='bullet'>
    <img src='/img/code.png' width='100' height='100' class='right bordered' />
    <p><b>I am passionate about software.</b> Just ask my long-suffering girlfriend. I am more than happy to sit (in a pub) and talk at length about the nuances of programming languages with you or discuss the latest technologies. I like training people and giving presentations because it means I'm not the expert any more; it gives me someone else that I can talk to about things I'm interested in.</p>
  </div
>
  <div class='bullet'>
    <img src='/img/mic.jpg' width='100' height='100' class='left bordered' />
    <p><b>I talk to people.</b> I spend time getting to know you: primarily because I find it interesting to hear about your life, but also because it makes working with you a lot easier. Close relationships are valuable, especially when working in teams. People have called me friendly; I think I'm just interested in people.</p>
  </div>

  <div class='bullet'>
    <img src='/img/iceberg.png' width='100' height='100' class='right bordered' />
    <p><b>It's not just programming.</b> I have skills in a wide range of fields, acquired in my spare time or during other projects.</p>

    <ul class='tech'>
      <li class='misc'>Algorithm Design</li>
      <li class='misc'>Business Analysis</li>
      <li class='misc'>Data Visualisation</li>
      <li class='misc'>Image Manipulation and Vector Drawing</li>
      <li class='misc'>Machine Learning</li>
      <li class='misc'>Presentation Writing</li>
      <li class='misc'>Project Management</li>
      <li class='misc'>Public Speaking</li>
      <li class='misc'>Puzzle and Game Development</li>
      <li class='misc'>Statistics</li>
      <li class='misc'>Teaching</li>
      <li class='misc'>Technical Writing</li>
      <li class='misc'>Typesetting with LaTeX</li>
      <li class='misc'>User-Centred Design</li>
    </ul>
  </div>

  <h2>What I've Done</h2>

  <div class='bullet'>
    <a href='http://www.reevoo.com' target="_blank"><img src='/img/reevoo.png' class='left bordered' /></a>
    <p>Since 2014 I have been working as a Developer for <a href='http://www.reevoo.com' target='_blank'>Reevoo</a>, an independent ratings and reviews collector. Working in an Agile environment with an emphasis on pair programming, I have led and contributed to teams working on enhancements and maintenance of all aspects of their collection, display and analysis systems.</p>

    <ul class='tech'>
      <li class='ruby'>Ruby on Rails, Sinatra, HAML, RSpec, Capybara</li>
      <li class='js'>HTML/CSS + JavaScript + Angular.js, jQuery, Jasmine</li>
      <li class='sql'>SQL (MySQL, PostgreSQL), ElasticSearch, InfluxDB</li>
      <li class='ops'>Git + GitHub, Jenkins, Capistrano, Chef</li>
    </ul>
  </div>

  <div class='bullet'>
    <a href='http://www.tessella.com' target="_blank"><img src='/img/tessella.png' class='right bordered' /></a>
    <p>Between 2011 and 2014 I was a consultant for <a href='http://www.tessella.com' target="_blank">Tessella</a>. During my time there I took up scientific software development, business analysis and project management roles. I have worked primarily in .NET for R&amp;D departments, occupational health providers and medical device companies.</p>
  </div>

  <ul class='projects'>
    <li>
      <p>I developed a pair of internal websites that took a spreadsheet of training and skills data for Tessella staff and provided search and analysis features on the data, allowing resource managers to pick the right person for the right project.</p>
      <ul class='tech'>
        <li class='ruby'>Ruby + Sinatra, HAML, RSpec</li>
        <li class='js'>HTML/CSS + JavaScript + d3, jQuery, Underscore.js, Jasmine</li>
        <li class='ops'>Git, Automated Deployment via Batch Scripts</li>
      </ul>
    </li>
    <li>
      <p>I contributed as part of a development team to an internal data visualisation website to explore the hourly rates charged to clients.</p>
      <ul class='tech'>
      <li class='python'>Python + Flask</li>
      <li class='js'>HTML/CSS + JavaScript + d3, jQuery, Underscore.js</li>
      <li class='sql'>SQL (Oracle)</li>
      <li class='ops'>Git + Git Hooks, Automated Deployment via Batch Scripts</li>
      </ul>
    </li>
    <li>
      <p>I worked with a leading pharmaceutical company to build a set of data visualisations for project managers to use internally.</p>
      <ul class='tech'>
        <li class='php'>PHP + Apache</li>
        <li class='js'>HTML/CSS + JavaScript + d3, jQuery, Underscore.js</li>
        <li class='ops'>Git</li>
      </ul>
    </li>
    <li>
      <p>I tuned the algorithm used in a medical diagnosis device to ensure the highest possible concordance with test results.</p>
      <ul class='tech'>
        <li class='matlab'>MatLab</li>
        <li class='ops'>Subversion</li>
      </ul>
    </li>
    <li>
      <p>I was responsible for importing and exporting external data for profile data and in the processing of recommendations for a corporate health support website.</p>
      <ul class='tech'>
        <li class='net'>C# + WCF, NUnit</li>
        <li class='sql'>SQL (Microsoft SQL Server)</li>
        <li class='ops'>Git, TeamCity</li>
      </ul>
    </li>
    <li>
      <p>I provided ad hoc support for a 10+-year-old application for supporting people to make healthier decisions.</p>
      <ul class='tech'>
        <li class='net'>C# + ASP.NET, Silverlight, Windows Forms, NUnit</li>
        <li class='js'>HTML/CSS + JavaScript, jQuery</li>
        <li class='java'>Java (inc. Bluetooth)</li>
        <li class='ops'>Subversion</li>
      </ul>
    </li>    
    <li>
      <p>I was involved in all stages of development and management of the world-leading occupational health referral system, including integration with internal systems via web services.</p>
      <ul class='tech'>
        <li class='net'>Microsoft SharePoint 2010 Application Development (C# + ASP.NET, WCF, NUnit)</li>
        <li class='ops'>Subversion</li>
      </ul>
    </li>
    <li>
      <p>I performed a series of fixes to an existing tool used for security log auditing provided by a major e-security firm.</p>
      <ul class='tech'>
        <li class='net'>C# + WPF, NUnit</li>
        <li class='sql'>SQL (SQLite)</li>
        <li class='ops'>Subversion</li>
      </ul>
    </li>
    <li>
      <p>I have taken courses in <a href='http://www.open.ac.uk/postgraduate/modules/m815' target='_blank'>Project Management</a>, <a href='https://class.coursera.org/ml-004' target='_blank'>Machine Learning</a>, Test-Driven Development and <a href='https://www.coursera.org/course/progfun' target='_blank'>Functional Programming</a>.</p>
      <ul class='tech'>
        <li class='matlab'>Octave</li>
        <li class='net'>C# + NUnit</li>
        <li class='scala'>Scala</li>
      </ul>
    </li>
  </ul>

  <div class='bullet'>
    <a href='http://github.com/jonnyarnold' target="_blank"><img src='/img/github.png' class='left bordered' /></a>
    <p>I don't stop coding when I go home (well, sometimes). When I'm not enjoying quiz shows or listening to music I spend time on home projects, often published on <a href='http://github.com/jonnyarnold'>GitHub</a>.</p>
  </div>

  <ul class='projects'>
    <li>
      <p><a href="http://asgardenterprises.github.io/ChronoCommit/" target="_blank">ChronoCommit</a> answers the question "When do people on GitHub commit the most?". As part of a team I was responsible for the processing of data and style of the site.</p>
      <ul class='tech'>
        <li class='python'>Python</li>
        <li class='js'>HTML/CSS + JavaScript + d3, Angular.js, datamaps</li>
        <li class='sql'>SQL (SQLite)</li>
        <li class='ops'>Git (on GitHub) + GitHub Pages</li>
      </ul>
    </li>
    <li>
      <p><a href="http://tla.herokuapp.com/" target="_blank">TLA</a> provides you with possible suggestions for your acronym, often with humourous consequences. This site when from initial concept to first draft within 24 hours.</p>
      <ul class='tech'>
        <li class='ruby'>Ruby + Sinatra</li>
        <li class='js'>HTML/CSS + JavaScript + jQuery, Knockout.js</li>
        <li class='ops'>Git (on GitHub), Heroku</li>
      </ul>
    </li>
    <li>
      <p><a href="http://proverbica.com/" target="_blank">Proverbica</a> takes two proverbs, splits them up and puts them back together; the restuls are always odd and at times insightful.</p>
      <ul class='tech'>
        <li class='ruby'>Ruby + Sinatra</li>
        <li class='js'>HTML/CSS + JavaScript + jQuery</li>
        <li class='ops'>Git (on GitHub), Heroku</li>
      </ul>
    </li>
    <li>
      <p>I have built my own <a href="https://github.com/jonnyarnold/wordclock" target="_blank">word clock</a> for use in my front room!</p>
      <ul class='tech'>
        <li class='arduino'>Arduino</li>
      </ul>
    </li>
  </ul>

  <div class='bullet'>
    <img src='/img/du.png' class='right bordered' />
    <p>It wasn't amazingly long ago that I was at university. Whilst I was there I spent a lot of my spare time making websites and playing with programming. Some of the websites are still in use today!</p>
  </div>

  <ul class='projects'>
    <li>
      <p>My masters project, <a href='/articles/RunningCoupling.pdf'><i>Running Coupling in the Standard Model and Beyond</i></a>, involved modelling systems of differential equations to find out the energy scales at which the fundamental forces unified in different theories around fundamental physics.</p>
      <ul class='tech'>
        <li class='python'>Python + NumPy, SciPy, matplotlib</li>
      </ul>
    </li>
    <li>
      <p>I was a DJ for 3 years at <a href="http://www.purpleradio.co.uk" target="_blank">Purple Radio</a>, Durham University's student radio station. I also spent a year as the Head of Music and a year as Head of Technical Services. In that time I singlehandedly put together a site for the music team and redesigned the website to provide a brand refresh; a portal for DJs to get information on the society; and a site allowing the executive committee to run the station more effectively.</p>
      <p><i>(The public website has been re-designed since my time there, but still uses a lot of back-end features that I created. You can get an idea of what it used to look like from the <a href="http://www.purpleradio.co.uk/members/login.php" target="_blank">Members' Area</a>.)</i></p>
      <ul class='tech'>
        <li class='php'>PHP</li>
        <li class='js'>HTML/CSS + JavaScript + jQuery</li>
        <li class='sql'>SQL (MySQL)</li>
        <li class='ops'>Linux Systems Administration (CentOS), Sound Engineering</li>
      </ul>
    </li>
    <li>
      <p>I was approached by the <a href="https://community.dur.ac.uk/scout-guide.group/" target="_blank">Durham University Scouts and Guides Group</a> to redesign their website to make it more friendly for both the committee and the children they work with.</p>
      <ul class='tech'>
        <li class='php'>PHP</li>
        <li class='js'>HTML/CSS + JavaScript + jQuery</li>
        <li class='sql'>SQL (MySQL)</li>
      </ul>
    </li>
    <li>
      <p>Durham University Big Band <i>(site no longer online)</i> wanted a smooth website to go with their image. I implemented a gallery and events calendar from scratch for them to administrate the site with.</p>
      <ul class='tech'>
        <li class='php'>PHP</li>
        <li class='js'>HTML/CSS + JavaScript + jQuery</li>
      </ul>
    </li>
  </ul>

  <!--
  <h2>What I'm Looking For</h2>

  <div class='bullet'>
    <p>I look for <b>full-stack web development roles in London.</b> As a company, you should be talking to anyone who will listen about software quality and the processes that can improve it, via blogs or at conferences. I'd like opportunities to grow within the company based on merit, with a senior technical career path available. I'm keen on training myself and others, so it would be a real plus if you provide a way of allowing me to do this!</p>
  </div>
  -->

  <h2>What I Think</h2>

  <div class='bullet'>
    <p><b>Code quality matters.</b> I do not hack together code. The code I write is considered, designed (to a point), tested, modular and readable. I believe that this is far more cost-effective than taking your hands off the keyboard as soon as the tests go green, never to dare venture into the code again.</p>
  </div>

  <div class='bullet'>
    <p><b>Agile software development is a more successful way of working.</b> Iterative development gives the system to the user more quickly, allowing them to feedback on issues before they become difficult to change.</p>
  </div>

  <h2>Where I've Learned</h2>

  <div id="degree" class="education-panel">
    <a href="http://www.dur.ac.uk" class='logo-link'><img src="img/du.png" class='left' /></a>
    <p>
      <span class="qualification">Degree: </span>
      <span class="institution"><a href="http://www.dur.ac.uk">Durham University</a></span>
      <span class="subject">MPhys Physics</span>
      <span class="results">Class II Division I (69%)</span>
    </p>
  </div>

  <div id="6form" class="education-panel">
    <a href="http://www.hpoolsfc.ac.uk" class='logo-link'><img src="img/6fc.png" class='left' /></a>
    <p>
      <span class="qualification">AS/A2: </span>
      <span class="institution"><a href="http://www.hpoolsfc.ac.uk">Hartlepool Sixth Form College</a></span>
      <span class="subject">Computing, Physics, Mathematics, Further Mathematics (A2); Business Studies (AS)</span>
      <span class="results">All A Grade</span>
    </p>
  </div>

  <div id="school" class="education-panel">
    <a href="http://www.htcs.org.uk/" class='logo-link'><img src="img/high-tunstall.png" class='left' /></a>
    <p>
      <span class="qualification">GCSE: </span>
      <span class="institution"><a href="http://www.htcs.org.uk/">High Tunstall School</a></span>
      <span class="results">7 A*, 3 A, 2 B, 1 C</span>
    </p>
  </div>

</div>
