<div class='page-outer pier'>&nbsp;</div>

<div class='page'>

  <div class='header-bullet'>
    <img src='/img/cocky.jpg' width='200' height='200' class='bordered' />
    <h1>Hello.<br />
    My name is Jonny Arnold.</h1>

    <p><b>I am a software engineer.</b> By day I even get paid for it. I spend the majority of my time making cool stuff with computers, talking about software or playing computer games. It's safe to say <b>I'm a geek.</b> But hey, that's cool now. Right?</p>

  </div>

  <h2>Why Me?</h2>

  <div class='bullet'>
    <img src='/img/spectrum.png' width='100' height='100' class='left bordered' />
    <p><b>I am a generalist.</b> Hand me a problem and I will use the <i>most appropriate</i> tools to solve it, rather than bending my favourite tools to fit it. I've completed projects in several programming languages (C#, Python, Ruby, JavaScript, PHP, MatLab/Octave) and dabbled in a few more (Scala, Go) to make sure that when I get given a problem I know the language that will solve it best.</p>
  </div>

  <!-- Language list -->

  <div class='bullet'>
    <img src='/img/code.png' width='100' height='100' class='right bordered' />
    <p><b>I am passionate about software.</b> Just ask my long-suffering girlfriend. I am more than happy to sit (in a pub) and talk at length about the nuances of programming languages with you or discuss the latest technologies. I like training people and giving presentations because it means I'm not the expert any more; it gives me someone else that I can talk to about things I'm interested in.</p>
  </div>

  <!-- List of presentations -->

  <div class='bullet'>
    <img src='/img/mic.jpg' width='100' height='100' class='left bordered' />
    <p><b>I talk to people.</b> I spend time getting to know you: primarily because I find it interesting to hear about your life, but also because it makes working with you a lot easier. Close relationships are valuable, especially when working in teams, and the best way to form that relationship is by being geniunely interested in what experiences and motivation someone has.</p>
  </div>

  <h2>What I Do</h2>

  <div class='bullet'>
    <a href='http://www.tessella.com'><img src='/img/tessella.png' class='right bordered' /></a>
    <p>I have spent 3 years as a consultant for <a href='http://www.tessella.com'>Tessella</a>. During my time there I took up development, business analysis and project management roles. I have worked primarily in .NET for R&amp;D departments, occupational health providers and medical device companies.</p>
  </div>

  <!-- Tessella projects -->

  <div class='bullet'>
    <a href='http://github.com/jonnyarnold'><img src='/img/github.png' class='left bordered' /></a>
    <p>I don't stop coding when I go home. I spend time on home projects, often published on <a href='http://github.com/jonnyarnold'>GitHub</a>. Back in my university days I spent a lot of my spare time building websites for societies that my friends or I were in. Some of them are still in use today!</p>
  </div>

  <!-- Other projects -->

  <h2>What I Think</h2>

  <div class='bullet'>
    <p><b>There's <u>so</u> much more to software development than the code.</b> If you're not using version control or writing automated tests and builds then you're not writing software, you're hacking.</p>
  </div>

  <div class='bullet'>
    <p><b>Code quality matters.</b> I do not hack together code. The code I write is considered, designed (to a point), tested, modular and readable. I believe that this is far more cost-effective than taking your hands off the keyboard as soon as the tests go green, never to dare venture into the code again.</p>
  </div>

  <h2>Where I've Learned</h2>

  <div id="degree" class="education-panel">
    <a href="http://www.dur.ac.uk" class='logo-link'><img src="img/du.png" class='left' /></a>
    <p>
      <span class="qualification">Degree: </span>
      <span class="institution"><a href="http://www.dur.ac.uk">Durham University</a></span>
      <span class="subject">MPhys Physics</span>
      <span class="results">Class II Division I (69%)</span>
    </p>
  </div>

  <div id="6form" class="education-panel">
    <a href="http://www.hpoolsfc.ac.uk" class='logo-link'><img src="img/6fc.png" class='left' /></a>
    <p>
      <span class="qualification">AS/A2: </span>
      <span class="institution"><a href="http://www.hpoolsfc.ac.uk">Hartlepool Sixth Form College</a></span>
      <span class="subject">Computing, Physics, Mathematics, Further Mathematics (A2); Business Studies (AS)</span>
      <span class="results">All A Grade</span>
    </p>
  </div>

  <div id="school" class="education-panel">
    <a href="http://www.htcs.org.uk/" class='logo-link'><img src="img/high-tunstall.png" class='left' /></a>
    <p>
      <span class="qualification">GCSE: </span>
      <span class="institution"><a href="http://www.htcs.org.uk/">High Tunstall School</a></span>
      <span class="results">7 A*, 3 A, 2 B, 1 C</span>
    </p>
  </div>

</div>