<div class='splash-outer pier'>
  <div class='splash-inner'>

    <div class='panel'>
      <img src='img/lakes.jpg' class='inline circle bordered' />
      <div class='caption'>
        <h1>Jonny Arnold</h1>
        <h3>Insert clever tagline here.</h3>
      </div>
      <ul class='links'>
        <li><a href='/cv'>CV</a></li>
      </ul>
      <ul class='social-list'>
        <li><a href='mailto:jonny.arnold89@gmail.com'><img src='img/email.png' class='social email' /></a></li>
        <li><a href='http://twitter.com/jonnyarnold89'><img src='img/twitter.png' class='social twitter' /></a></li>
        <li><a href='http://uk.linkedin.com/in/jonnyarnold'><img src='img/linkedin.png' class='social linkedin' /></a></li>
      </ul>
    </div>  
  </div>
</div>  
