<div class='page-outer germany'>&nbsp;</div>

<div class='page'>
  <h1>Projects.<br />
  Here are a few.</h1>

  <p>It's safe to say I've done a lot of things. Here is a selection of projects I've been involved with or created independently.</p>

  <!--
  	ChronoCommit
  	TLA
  	Proverbica
	 Purple Radio
  -->
</div>
