<div class='splash-outer'>
  <div class='splash-inner'>
    <div class='splash-content'>

      <div class='logo'>
        <img src='img/lakes.jpg' class='profile-image' />

        <div class='title'>
          <h1 class='title-name'>Jonny Arnold</h1>
          <h3 class='title-tagline'>Insert clever tagline here.</h3>
        </div>
      </div>

      <ul class='links'>
        <li><a href='/blog'>Blog</a></li>
        <li><a href='/projects'>Projects</a></li>
        <li><a href='/cv'>CV</a></li>
      </ul>

      <%= render 'templates/erb/social.erb' %>
      
    </div>  
  </div>
</div> 
