<div class='page-outer off-white'>&nbsp;</div>

<div class='page'>

  <h1>My name is Jonny Arnold.</h1>

  <p>I favour:</p>

  <hr />

  <div class="point">
    <p class="statement">
      <b>Quality</b> over speed.
    </p>

    <p class="explanation">
      Maintenance is the biggest cost of most software systems. Designed, tested, modular and readable code requires less maintenance than code that has been written for a deadline.
    </p>
  </div>

  <div class="point">
    <p class="statement">
      <b>Experimentation</b> over experience.
    </p>

    <p class="explanation">
      Only doing what has been done before leads to stagnation of ideas and knowledge, which is devastating in a fast-paced environment like software. Experimentation ensures that good ideas stick around and bad ideas are replaced.
    </p>
  </div>

  <div class="point">
    <p class="statement">
      <b>Process-less</b> over process-heavy.
    </p>

    <p class="explanation">
      Processes impede progress, expecially when working in an autonomous, motivated environment.
    </p>
  </div>

  <hr />

  <p>(While there is value on the right-hand side, I believe more value exists on the left-hand side.)</p>

  <p><i>Last updated: March 2016</i></p>

</div>
