<ul class='social-list'>
  <li><a href='mailto:jonny.arnold89@gmail.com'><img src='img/email.png' class='social email' /></a></li>
  <li><a href='http://twitter.com/jonnyarnold89'><img src='img/twitter.png' class='social twitter' /></a></li>
  <li><a href='http://uk.linkedin.com/in/jonnyarnold'><img src='img/linkedin.png' class='social linkedin' /></a></li>
  <li><a href='http://github.com/jonnyarnold'><img src='img/github-icon.png' class='social github' /></a></li>
</ul>