<div class='projects index'>
  <h1>My Projects</h1>
  <p>Things that <a href='/'>Jonny Arnold</a> has been involved in.</p>

  <ul class='post-index'>
    <% recent_posts.each do |post| %>
      <li class='post'>
        <span class='post-date'><%= post.event_date %></span>
        <span class='divider'>&nbsp;</span>
        <a class='post-title' href='<%= post.url %>'><%= post.title %></a>
      </li>
    <% end %>
  </ul>
</div>
