@import 'article';

.blog.index {
  @include page;
  
  h1 {
    @include h1-underline(#F00);
  }

  .post-index {
    margin-top: 4em;
  }

  .post {
    padding: 0.25em 0;
  }
  
  .post-date {
    display: inline-block;
    font-size: 80%;
    width: 5em;
  }

  .divider {
    &:after {
      content: '·';
      color: #CCC;
      padding: 0 0.5em;
    }
  }

  .post-title {
    border-bottom: none;
  }
}